@import "../../common/colors.scss";

// .header {
//   height: 6em;
//   display: flex;
//   padding: 0 2em;
//   align-items: center;
//   justify-content: space-between;
//   background-color: $secondary-color;
// }

// .logo {
//   font-size: 1.5em;
//   font-weight: 600;
//   color: $font-primary;
// }

// .user-image,
// .user-image img {
//   width: 2em;
//   height: 2em;
// }

.header {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  min-height: 14vh;
  align-items: center;
  justify-content: space-between;

  // color: #93c47d;
  color: $font-secondary;
  // background-color: #303030;
  background: $primary-color;

  h1 {
    margin: 0;
  }

  h2 {
    padding: 0.5em;
    border-radius: 50%;

    // border: 0.2em solid #93c47d;
    border: 0.2em solid $font-secondary;

    &:hover {
      // color: #303030;
      color: $primary-color;
      // background-color: #93c47d;
      background-color: $font-secondary;
    }
  }

  a {
    // color: #93c47d;
    color: $font-secondary;
  }

  @media (min-width: 769px) {
    padding: 1em 5em;
  }
}
